@import '~normalize-scss';

.a {
    color: red;
}

.example {
    appearance: none;
    display: grid;
    transition: all 0.5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}
